.container {
    height: 100%;
    border-radius: 6px;
    background-color: #9cacd5;
    position: absolute;
    overflow: hidden;
    cursor: col-resize;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.resizer {
    position: absolute;
    width: 5px;
    height: 100%;
    background-color: #7585af;
}

.end {
    right: 0px;
}
